.container {
    margin: 0 auto;
    width: 300px;
    text-align: center;
  }
  
  input[type="text"] {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  select {
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  #resultado {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  